<body>
  <main>
      <form id="login_form" class="form_class"  method="post">
        <!-- <h1>Shrinkr</h1>
        <br> -->
          <div class="form_div">
              <label>ENTER A LONG URL :</label>
              <input class="field_class" name="login_txt" type="text" placeholder="Paste the link here" autofocus>
              <br>
              <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Shorten Url</button>
          </div>

      </form>
  </main>
</body>

